# Survival analysis of Titanic training dataset

## Summary of  findings
There are three types of peoples in the world. One who does not believe in any form of flattery and the other, who considers flattery to be the biggest excitement in the world.

## Setup code

In [7]:
import pandas as pd
import numpy as np

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt

## Data exploration and cleanup

### Getting a sense of the data

In [16]:
train = pandas.read_csv("train.csv")
print "the variable train is of data type ", type (train)
print
print (train.head(5))

the variable train is of data type  <class 'pandas.core.frame.DataFrame'>

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male   22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                             Heikkinen, Miss. Laina  female   26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                           Allen, Mr. William Henry    male   35      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [8]:
print (train.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

### Data cleanup
I noticed some NaN in the cabin. Age seems to have a few nulls as well. Factors such as SibSp etc. are being considered as numbers. Gotta clean all this up!

##Exploratory analysis to get some intuition
Some intuition around the topic of Titanic (mostly through the movie and some reading)

Hypotheses to be tested
- Women and children first!
- First class passengers survived more than third class
- Number of siblings and parents contributed 
    - Adults with spouses or siblings survived more by virtue of helping each other
    - Children with parents survived more than those without parents
    - Converse to point 2, parents with children would have sacrificed and probably had lower survival rates (just a bit)
- Where people embarked contributed to survival

## Predicting survival