Following the pandas to SQL tutorial by Greg Reda
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

## Administrative setup

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns',50)
%matplotlib inline

## Exploring Series and DataFrame

Pandas introduces 2 new data structures - series and DataFrame, both built on top of NumPy.

### Introducing Series

Series is a one dimensional object similar to a list or an array, that can take in any datatype. It assigns a labeled index to each item. Alternatively, you can specify index to the series.

In [2]:
s = pd.Series(['abcd',3.14159,True,-12345,None,0.0])
s

0       abcd
1    3.14159
2       True
3     -12345
4       None
5          0
dtype: object

In [3]:
s_hat = pd.Series(['abcd',3.14159,True,-12345,None,0.0],index = ['A','B','C','D','E','F'])
s_hat

A       abcd
B    3.14159
C       True
D     -12345
E       None
F          0
dtype: object

The Series Constructor can be used to convert a dict as well.

In [11]:
d = {'Sydney':4000,'Melbourne':2500,'Adelaide':3200,'Perth':5800,'Hobart':1700,'Darwin':48,'Brisbane':9000}
d

{'Adelaide': 3200,
 'Brisbane': 9000,
 'Darwin': 48,
 'Hobart': 1700,
 'Melbourne': 2500,
 'Perth': 5800,
 'Sydney': 4000}

In [37]:
cities = pd.Series(d)
cities

Adelaide     3200
Brisbane     9000
Darwin         48
Hobart       1700
Melbourne    2500
Perth        5800
Sydney       4000
dtype: int64

In [14]:
print "Dict is of type ", type(d)
print "Series is of type ", type(cities)

Dict is of type  <type 'dict'>
Series is of type  <class 'pandas.core.series.Series'>

Notice how both cities and 'd' are arranged alphabetically.

In [10]:
cities.sort_values()
cities

Darwin         48
Hobart       1700
Melbourne    2500
Adelaide     3200
Sydney       4000
Perth        5800
Brisbane     9000
dtype: int64

In [16]:
d['Adelaide']

3200

In [18]:
cities['Adelaide']

3200

Advantage of Series is that you can select indexes using different strategies

In [17]:
cities[3]

3200

In [19]:
d[3]

KeyError: 3

Also, you can use boolean subsetting. The series returns only the true elements.

In [21]:
cities[cities < 2000]

Darwin      48
Hobart    1700
dtype: int64

In [22]:
d[d < 2000]

KeyError: False

This last part may be a bit weird. How did the subsetting work? This may help.

In [25]:
less_than_2000 = cities < 2000
print less_than_2000
print '\n'
print cities[cities < 2000]

Darwin        True
Hobart        True
Melbourne    False
Adelaide     False
Sydney       False
Perth        False
Brisbane     False
dtype: bool


Darwin      48
Hobart    1700
dtype: int64

You can change the values of elements in a Series on the fly

In [38]:
# changing values of elements below 2000
print cities[cities < 2000]
print '\n'
cities[cities < 2000] = cities.mean()/2
print cities[cities < 2000]

Darwin      48
Hobart    1700
dtype: int64


Darwin    1874.857143
Hobart    1874.857143
dtype: float64

You can subset multiple elements by using double brackets. Single brackets gives you a key error.

In [63]:
cities[['Sydney','Hobart','Melbourne']]

Sydney          4000
Hobart       1874.86
Melbourne       2500
dtype: object

In [64]:
cities['Sydney','Hobart','Melbourne']

KeyError: ('Sydney', 'Hobart', 'Melbourne')

Use idiomatic python to check if an element is in the series or not

In [39]:
print 'Auckland' in cities
print 'Sydney' in cities
print 'sydney' in cities

False
True
False

Append elements to the Series: Very simple.

In [57]:
cities['Auckland'] = None
cities

Adelaide        3200
Brisbane        9000
Darwin       1874.86
Hobart       1874.86
Melbourne       2500
Perth           5800
Sydney          4000
Auckland        None
dtype: object

You can do mathematical operations on the series elements using scalar operations

In [40]:
cities/3

Adelaide     1066.666667
Brisbane     3000.000000
Darwin        624.952381
Hobart        624.952381
Melbourne     833.333333
Perth        1933.333333
Sydney       1333.333333
dtype: float64

In [41]:
np.square(cities)

Adelaide     10240000.000000
Brisbane     81000000.000000
Darwin        3515089.306122
Hobart        3515089.306122
Melbourne     6250000.000000
Perth        33640000.000000
Sydney       16000000.000000
dtype: float64

Null checking performed using isnull and notnull functions

In [60]:
print cities.isnull()
print '\n'
print cities.notnull()

Adelaide     False
Brisbane     False
Darwin       False
Hobart       False
Melbourne    False
Perth        False
Sydney       False
Auckland      True
dtype: bool


Adelaide      True
Brisbane      True
Darwin        True
Hobart        True
Melbourne     True
Perth         True
Sydney        True
Auckland     False
dtype: bool

You can add 2 series together. Non intersecting values yield NaN

In [65]:
cities[['Adelaide','Sydney','Melbourne','Brisbane']] + cities[['Hobart','Sydney','Melbourne']]

Adelaide      NaN
Brisbane      NaN
Hobart        NaN
Melbourne    5000
Sydney       8000
dtype: object

## Exploring DataFrames

You can create a dataframe by passing a dictionary of lists

In [2]:
data = {'year':[2010,2011,2012,2013,2014,2015,2016],
        'team':['Crows','Lions','Magpies','Bombers','Hawks','Swans','Bulldogs'],
        'wins':[11,8,10,15,11,6,4],
        'losses':[3,4,1,5,6,2,0]}
print type(data)
print '\n'
data

<type 'dict'>

{'losses': [3, 4, 1, 5, 6, 2, 0],
 'team': ['Crows',
  'Lions',
  'Magpies',
  'Bombers',
  'Hawks',
  'Swans',
  'Bulldogs'],
 'wins': [11, 8, 10, 15, 11, 6, 4],
 'year': [2010, 2011, 2012, 2013, 2014, 2015, 2016]}

In [26]:
footie = pd.DataFrame(data)
footie

   losses      team  wins  year
0       3     Crows    11  2010
1       4     Lions     8  2011
2       1   Magpies    10  2012
3       5   Bombers    15  2013
4       6     Hawks    11  2014
5       2     Swans     6  2015
6       0  Bulldogs     4  2016

The columns parameter allows us to tell the dataframe constructor about the ordering and filtering of columns. By default, ordering is alphabetical as seen above.

In [5]:
footie = pd.DataFrame(data,columns = ['year','team','wins','losses'])
footie

   year      team  wins  losses
0  2010     Crows    11       3
1  2011     Lions     8       4
2  2012   Magpies    10       1
3  2013   Bombers    15       5
4  2014     Hawks    11       6
5  2015     Swans     6       2
6  2016  Bulldogs     4       0

In [9]:
footie = pd.DataFrame(data,columns = ['year','team','wins'])
print footie
print '\n'
# note that losses didn't come through because of the columns parameter
footie['losses']

   year      team  wins
0  2010     Crows    11
1  2011     Lions     8
2  2012   Magpies    10
3  2013   Bombers    15
4  2014     Hawks    11
5  2015     Swans     6
6  2016  Bulldogs     4

KeyError: 'losses'

### Read csv files

Downloaded dataset containing location of centrelink offices in australia as of 2015.
Download location - https://data.gov.au/dataset/location-of-centrelink-offices

In [13]:
# "!" command is used to execute shell commands
!head -n 5 centrelink.csv

OFFICE TYPE,SITE NAME,ALTERNATIVE NAME,ADDRESS,SUBURB,STATE,POSTCODE,LATITUDE,LONGITUDE,Open,Close,Closed for lunch/Office Notes
Centrelink Customer Service Centre,Albury,,430 Wilson Street,Albury,NSW,2640,-36.07727,146.92370,08:30:00,16:30:00,No
Centrelink Customer Service Centre,Townsville Jobseekers,,307 Ross River Road,Aitkenvale,QLD,4814,-19.29713,146.76441,08:30:00,16:30:00,No
Centrelink Customer Service Centre,Albany,,15 Peels Place,Albany,WA,6330,-35.02591,117.88466,08:30:00,16:30:00,No
Centrelink Customer Service Centre,Alice Springs,,5 Railway Terrace,Alice Springs,NT,870,-23.69590,133.88036,08:30:00,16:30:00,No

In [14]:
empdata = pd.read_csv('centrelink.csv')
empdata.head()

,OFFICE TYPE,SITE NAME,ALTERNATIVE NAME,ADDRESS,SUBURB,STATE,POSTCODE,LATITUDE,LONGITUDE,Open,Close,Closed for lunch/Office Notes
0,Centrelink Customer Service Centre,Albury,NaN,430 Wilson Street,Albury,NSW,2640,-36.07727,146.92370,08:30:00,16:30:00,No
1,Centrelink Customer Service Centre,Townsville Jobseekers,NaN,307 Ross River Road,Aitkenvale,QLD,4814,-19.29713,146.76441,08:30:00,16:30:00,No
2,Centrelink Customer Service Centre,Albany,NaN,15 Peels Place,Albany,WA,6330,-35.02591,117.88466,08:30:00,16:30:00,No
3,Centrelink Customer Service Centre,Alice Springs,NaN,5 Railway Terrace,Alice Springs,NT,870,-23.69590,133.88036,08:30:00,16:30:00,No
4,Centrelink Customer Service Centre,Tangentyere,NaN,4 Elder Street,Alice Springs,NT,870,-23.69924,133.87184,08:30:00,15:00:00,12:00:00 to 13:00:00

Pandas has several 'reader' functions that have parameters allowing us to do things like skip lines of a file, parse dates, specify how to handle NA datapoints. You can find these here -

In [22]:
# ?pd.read_csv

Pandas also has similar writer functions for different formats like

In [23]:
# empdata.to_csv('path_to_file.csv')

### Read excel files

Pandas can help read and write Excel files. This means we can read from Excel, write code in Python, and write back into Excel. No need for VBA.

Reading excel files requires a library called "xlrd". You can install it via pip (pip install xlrd)

<img src="https://imgs.xkcd.com/comics/python.png">

In [64]:
import this

In [25]:
import xlrd

Let's write the footie data into an xlsx.

In [27]:
# since index on our footie data is meaningless, there's no need to write it.
footie.to_excel('footie.xlsx',index = False)

In [28]:
!ls -ltr *.xlsx

-rw-r--r--  1 Vivek  staff  5605  1 Jan 20:38 footie.xlsx

In [29]:
# delete the dataframe

del footie

In [30]:
# read from Excel

footie = pd.read_excel('footie.xlsx','Sheet1')
footie

   losses      team  wins  year
0       3     Crows    11  2010
1       4     Lions     8  2011
2       1   Magpies    10  2012
3       5   Bombers    15  2013
4       6     Hawks    11  2014
5       2     Swans     6  2015
6       0  Bulldogs     4  2016

### Reading URL

You can also read directly from a URL. Let me try with the Centrelink url that I provided for the CSV.

In [36]:
url = 'http://data.gov.au/dataset/70c2b2fe-2a32-450e-98dc-453fe4a02aae/resource/5a45d7b2-8579-425b-bb46-53a0e0bfa053/download/Centrelink-Office-Locations-as-at--2-December-2015.csv'

# let's see how much time it takes to download the data
# need to import the datetime library
from datetime import datetime

print datetime.now().time()
empdata_from_url = pd.read_table(url)
print datetime.now().time()

empdata_from_url.head()

20:52:20.629146
20:52:26.245874

  OFFICE TYPE,SITE NAME,ALTERNATIVE NAME,ADDRESS,SUBURB,STATE,POSTCODE,LATITUDE,LONGITUDE,Open,Close,Closed for lunch/Office Notes
0  Centrelink Customer Service Centre,Albury,,430...
1  Centrelink Customer Service Centre,Townsville ...
2  Centrelink Customer Service Centre,Albany,,15 ...
3  Centrelink Customer Service Centre,Alice Sprin...
4  Centrelink Customer Service Centre,Tangentyere...

If I have a tab separated table, then use the command - sep='\t', otherwise use sep=','

In [38]:
print datetime.now().time()
empdata_from_url = pd.read_table(url,sep=',')
print datetime.now().time()

empdata_from_url.head(3)

20:54:44.227679
20:54:50.622689

,OFFICE TYPE,SITE NAME,ALTERNATIVE NAME,ADDRESS,SUBURB,STATE,POSTCODE,LATITUDE,LONGITUDE,Open,Close,Closed for lunch/Office Notes
0,Centrelink Customer Service Centre,Albury,NaN,430 Wilson Street,Albury,NSW,2640,-36.07727,146.92370,08:30:00,16:30:00,No
1,Centrelink Customer Service Centre,Townsville Jobseekers,NaN,307 Ross River Road,Aitkenvale,QLD,4814,-19.29713,146.76441,08:30:00,16:30:00,No
2,Centrelink Customer Service Centre,Albany,NaN,15 Peels Place,Albany,WA,6330,-35.02591,117.88466,08:30:00,16:30:00,No

### Databases

Pandas has support for reading and writing into databases. Additionally, you can read into pandas from the clipboard as well. But let me get to these at a later time.

## Introducting the movielens dataset

A very cool dataset comprising of 100,000 ratings made by 943 users on 1,682 movies.

I've downloaded the movielens dataset from <a href="http://grouplens.org/datasets/movielens/">here</a>. The folder ml-100k has a README  that has descriptions for most of the files we will use.

### Ingesting the data

In [78]:
# ingesting the users dataset. firstly, i got an idea about the columns from the readme. 
u_cols = ['user_id','age','gender','occupation','zip_code']
users = pd.read_csv('~/Downloads/ml-100k/u.user',sep = '|', names=u_cols)
users.head(3)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067

In [42]:
# similarly for ratings
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('~/Downloads/ml-100k/u.data', sep='\t', names=r_cols)
ratings.head(3)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116

In [47]:
# the movies file contains columns indicating the movie's genres
# now, the readme reveals that the first 5 columns of this dataset are descriptors
# and the remaining columns are feature variables for each genre. Let's keep the first 3
# feature variables for kicks but drop the rest. I don't want to clutter the dataset visually.
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url','Unknown',
          'Action','Adventure']
movies = pd.read_csv('~/Downloads/ml-100k/u.item', sep='|', names=m_cols, usecols = range(8))
movies.head(3)

,movie_id,title,release_date,video_release_date,imdb_url,Unknown,Action,Adventure
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0

Note that I had to use the parameter "usecols" and limit the dataset extraction to only the first 8 columns. This is the only case where simply specifying the "names" parameter isn't sufficient. If we don't specify usecols, then the column names apply to the last 8 columns only. Makes sense when you think about it, doesn't it? Data is read from the file first and then names needs to be applied in the order of doing things.

### Inspecting the dataset

In [48]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 0 to 1681
Data columns (total 8 columns):
movie_id              1682 non-null int64
title                 1682 non-null object
release_date          1681 non-null object
video_release_date    0 non-null float64
imdb_url              1679 non-null object
Unknown               1682 non-null int64
Action                1682 non-null int64
Adventure             1682 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 118.3+ KB

In [50]:
movies.dtypes

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
Unknown                 int64
Action                  int64
Adventure               int64
dtype: object

In [51]:
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

You can slice the dataset in any way you want, like so -

In [52]:
movies[20:23]

,movie_id,title,release_date,video_release_date,imdb_url,Unknown,Action,Adventure
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,0,1,0
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,0,0,0

The info method can be used to glance into the dataset as a combination of head and tail, by simply not putting the (), like so -

In [55]:
ratings.info

<bound method DataFrame.info of        user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
5          298       474       4       884182806
6          115       265       2       881171488
7          253       465       5       891628467
8          305       451       3       886324817
9            6        86       3       883603013
10          62       257       2       879372434
11         286      1014       5       879781125
12         200       222       5       876042340
13         210        40       3       891035994
14         224        29       3       888104457
15         303       785       3       879485318
16         122       387       5       879270459
17         194       274       2       879539794
18         291      1042       4       874834944
19         234      1184       2       892079237
20         119       392       4       886176814
21         167       486       4       892738452
22         299       144       4       877881320
23         291       118       2       874833878
24         308         1       4       887736532
25          95       546       2       879196566
26          38        95       5       892430094
27         102       768       2       883748450
28          63       277       4       875747401
29         160       234       5       876861185
...        ...       ...     ...             ...
99970      449       120       1       879959573
99971      661       762       2       876037121
99972      721       874       3       877137447
99973      821       151       4       874792889
99974      764       596       3       876243046
99975      537       443       3       886031752
99976      618       628       2       891308019
99977      487       291       3       883445079
99978      113       975       5       875936424
99979      943       391       2       888640291
99980      864       685       4       888891900
99981      750       323       3       879445877
99982      279        64       1       875308510
99983      646       750       3       888528902
99984      654       370       2       887863914
99985      617       582       4       883789294
99986      913       690       3       880824288
99987      660       229       2       891406212
99988      421       498       4       892241344
99989      495      1091       4       888637503
99990      806       421       4       882388897
99991      676       538       4       892685437
99992      721       262       3       877137285
99993      913       209       2       881367150
99994      378        78       3       880056976
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]>

In [56]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 0 to 942
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 44.2+ KB

### Selecting information from the dataset

In [60]:
users['occupation'].head()

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

In [58]:
users['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

Multiple columns can be selected, and even passed into a variable for other operations

In [62]:
print users[['age','occupation']].head()
print '\n'

# can also store into variable for use later
columns_for_use = ['age','occupation']
print users[columns_for_use].head()

   age  occupation
0   24  technician
1   53       other
2   23      writer
3   24  technician
4   33       other


   age  occupation
0   24  technician
1   53       other
2   23      writer
3   24  technician
4   33       other

Notice that i used [[ and ]] in the former command, but only single [ and ] when using the columns_for_use variable. A double bracket signifies a list of a list.

Row selection is like subsetting.

In [70]:
# users older than 25
print users[users['age'] > 25].head(3)
print '\n'

# users aged 40 and male
print users[(users['age'] == 40) & (users['gender'] == 'M')].head(3)
print '\n'

# users younger than 30 OR female
print users[(users['age'] < 30) | (users['gender'] == 'F')].head(3)

   user_id  age gender occupation zip_code
1        2   53      F      other    94043
4        5   33      F      other    15213
5        6   42      M  executive    98101


     user_id  age gender  occupation zip_code
18        19   40      M   librarian    02138
82        83   40      M       other    44133
115      116   40      M  healthcare    97232


   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067

One learning for me was that if 2 conditions are being evaluated simultaneously, then it needs to be enclosed within round brackets. Otherwise the interpreter considers the entire expression together, which is meaningless.

Note that the index on the users dataset above is meaningless. Let's check if the user id is indeed unique

In [76]:
print len(users['user_id'])
print len(users['user_id'].unique())

943
943

So we can set user_id as a unique index. Setting it inplace.

In [79]:
print users.head(3)
print '\n'

users.set_index('user_id', inplace = True)
print users.head(3)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067


         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067

Notice that we have lost the pandas default index. We can select rows based on the index. This has applications when you think of non-numeric indices

Similarly you can use the following command to get the old pandas default index.

<b>users.reset_index(inplace = True)

In [96]:
print users.ix[[1,50,300]]

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
50        21      M      writer    52245
300       26      F  programmer    55106

Mind you, you can select numeric indices using the ":" operator like we saw in the subsetting example. But for some reason, you can't select indices as a list of a list. You get an indices out of bound error. Interesting to note that the lower bound needs to be 1 value lower than the number you want. So, specify lower bound as 0 if you want user_id 1.

In [98]:
print users[0:5]

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [103]:
print users[[1,2,3,4,5]]

IndexError: indices are out-of-bounds

## Joining

pandas.merge provides SQL join type of capabilities. The 'how' parameter defines the kind of join. From the docco - 

how : {'left', 'right', 'outer', 'inner'}, default 'inner'
    * left: use only keys from left frame (SQL: left outer join)
    * right: use only keys from right frame (SQL: right outer join)
    * outer: use union of keys from both frames (SQL: full outer join)
    * inner: use intersection of keys from both frames (SQL: inner join)

In [104]:
# ?pd.merge

In [108]:
#  defining the datasets
left_data = pd.DataFrame({'key':range(5),'left_val':['a','b','c','d','e']})
print left_data
print '\n'

right_data = pd.DataFrame({'key':range(2,7),'right_val':['f','g','h','i','j']})
print right_data

   key left_val
0    0        a
1    1        b
2    2        c
3    3        d
4    4        e


   key right_val
0    2         f
1    3         g
2    4         h
3    5         i
4    6         j

Notice how i used range to define a range of integers. Range(2,7) defines integers between 2 to 6 since these are 0 indexed.

In [109]:
# INNER JOIN
pd.merge(left_data, right_data, on= 'key', how='inner')

   key left_val right_val
0    2        c         f
1    3        d         g
2    4        e         h

The fields to be joined on for both left and right tables can be specified explicitly, instead of using a generic "ON".

In [113]:
# LEFT OUTER JOIN

pd.merge(left_data,right_data,left_on='key',right_on='key',how= 'left')

   key left_val right_val
0    0        a       NaN
1    1        b       NaN
2    2        c         f
3    3        d         g
4    4        e         h

I tried selecting specific rows in the left_data and right_data, but couldn't select only the left_val and right_val. Need to investigate.